build \
  --apple_platform_type=ios \
  --ios_minimum_os=11.0 \
  --ios_simulator_device="iPhone 11" \
  --ios_simulator_version=13.3 \
  --verbose_failures \

# During development
# build -s --test_output=all --cache_test_results=no

# Config for debug version
build:debug \
  --compilation_mode=dbg \
  --define=apple.compress_ipa=no \
  --define=apple.package_swift_support=no \
  --define=apple.add_debugger_entitlement=yes \
  --define=apple.propagate_embedded_extra_outputs=yes \
  --ios_signing_cert_name="iPhone Developer" \

# Config for release version
build:release \
  --compilation_mode=opt \
  --define=apple.compress_ipa=yes \
  --define=apple.package_swift_support=yes \
  --define=apple.add_debugger_entitlement=no \
  --experimental_multi_threaded_digest \
  --experimental_strict_action_env \
  --features=swift.no_generated_header \
  --features=swift.use_global_module_cache \
  --host_swiftcopt=-warnings-as-errors \
  --host_swiftcopt=-whole-module-optimization \
  --ios_signing_cert_name="iPhone Developer" \
  --ios_multi_cpus=arm64 \

# remote server for caching 
# build \
#   --remote_cache=http://bazel.local:8088/ \
#   --repository_cache=~/.cache/bazel
#   --remote_local_fallback \

# References:
# - https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/install/.bazelrc
# - https://github.com/lyft/envoy-mobile/blob/master/.bazelrc